<section id="intro" class="container">
  <div class="row">
    <div class="col-4 col-6-medium col-12-small">
      <section class="first">
        <i class="icon solid featured fa-cog"></i>
        <header>
          <h2>Databases</h2>
        </header>
        <p>Real data gathered directly from game. <br>We need your support!</p>
      </section>
    </div>
    <div class="col-4 col-6-medium col-12-small">
      <section class="middle">
        <i class="icon solid featured alt fa-bolt"></i>
        <header>
          <h2>Guides</h2>
        </header>
        <p>Stuck on the game? <br>All related to shine on Dragon Nest!</p>
      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section class="last">
        <i class="icon solid featured alt2 fa-star"></i>
        <header>
          <h2>Help</h2>
        </header>
        <p>Find the help you need from experts about Dragon Nest Origins!</p>
      </section>
    </div>
  </div>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button large">Get Started</a></li>
      <li><a href="#" class="button alt large">Learn More</a></li>
    </ul>
  </footer>
</section>
