<section id="main">
  <div class="container">
    <!-- Content -->
    <article class="box post">
      <a href="#" class="image featured"><img src="assets/images/merlin.png" alt="" /></a>
      <header>
        <h2>DNO Builds - Skills</h2>
        <p>Skill Build Maker</p>
      </header>
      <p style="margin-bottom: 3em;">
        Enhancement is a vital part of the game system within Dragon Nest which allows one to greatly improve the
        quality of their equipment. Weapons can be enhanced to increase their magical and physical damage stat
        contribution. Armour can be enhanced to increase its health and mana stat contribution. As enhancement level
        gets higher, the cost and risk of enhancing grows larger. Higher item levels and item rarities also increase the
        cost of enhancing.
      </p>
    </article>
  </div>
</section>
