/* Form */

form label {
  display: block;
  color: var(--dark-color);
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

form input[type=text],
form input[type=number],
form input[type=email],
form input[type=password],
form select,
form textarea {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0.75em 1em;
  font-size: 1em;
  border-radius: 5px;
  border: solid 1px #dddddd;
  background: var(--light-color);
  width: 100%;
  z-index: 999;
  position: relative;
}

form select {
  background: url("../../../assets/images/arrow-down.png") no-repeat right;
}

body.dark {
  & form select {
    background: url("../../../assets/images/arrow-down_white.png") no-repeat right;
  }
}

form textarea {
  height: 15em;
}

form ::-webkit-input-placeholder {
  color: var(--text-color) !important;
}

form :-moz-placeholder {
  color: var(--text-color) !important;
}

form ::-moz-placeholder {
  color: var(--text-color) !important;
}

form :-ms-input-placeholder {
  color: var(--text-color) !important;
}

form ::-moz-focus-inner {
  border: 0;
}

/* Tables */

table {
  width: 100%;
}

table tr {
  border-top: solid 1px #dddddd;
}

table tr:first-child {
  border-top: 0;
}

table td {
  padding: 0.5em 1em 0.5em 1em !important;
}

table th {
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 0 1em 0;
  font-weight: bold !important;
}

table thead {
  border-bottom: solid 2px #dddddd;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: var(--active-color);
  color: var(--light-color) !important;
  font-weight: 700;
  outline: 0;
  font-size: 1.1em;
  padding: 0.65em 1.5em 0.65em 1.5em;
  text-align: center;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background: #e53359;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background: #c51349;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
  background: var(--dark-color);
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background: #353132;
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
button.alt:active,
.button.alt:active {
  background: #151112;
}

input[type="button"].icon:before,
input[type="submit"].icon:before,
input[type="reset"].icon:before,
button.icon:before,
.button.icon:before {
  opacity: 0.35;
  position: relative;
  top: 0.05em;
  margin-right: 0.75em;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
  font-size: 1.5em;
  padding: 0.75em 1.5em 0.75em 1.5em;
}

.result {
  & h2 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  & i {
    width: 24px;
  }

  & .success i {
    color: green;
  }

  & .fail i {
    color: red;
    position: relative;
    left: 2px;
  }

  & .break i {
    color: pink;
  }

  & .decrease i {
    color: rgb(128, 0, 111);
    position: relative;
    left: 1px;
  }

  & .total i {
    color: rgb(12, 182, 212);
    position: relative;
    left: 1px;
  }
}

.form-control {
  margin-bottom: 1.5em;

  & input, select {
    transition: 100ms border ease-in-out;

    &[disabled] {
      opacity: .3;
      pointer-events: none;
    }
  }

  &:hover {
    input:not([disabled]), select:not([disabled]) {
      cursor: pointer;
      border-color: var(--active-color);
    }
  }
}