/* Header */
#header {
  position: relative;
  background: #ffffff;
  border-bottom: solid 1px #ccc;
  padding: 4em 0;
  text-align: center;
}

#header h1 {
  color: #252122;
  font-weight: 900;
  font-size: 2.5em;
  letter-spacing: -0.035em;
  line-height: 1;
}

#nav {
  margin: 2.5em 0 0 0;
}

#nav > ul {
margin: 0;
}

#nav > ul > li {
  display: inline-block;
  font-style: italic;
  margin: 0 0.35em 0 0.35em;
}

#nav > ul > li > a {
  border-radius: 5px;
  color: #5d5d5d;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  outline: 0;
}

#nav > ul > li:hover > a, #nav > ul > li.active > a {
  background: #f3f3f3;
}

#nav > ul > li.current > a {
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
}

.dropdown, .dropotron {
  position: relative;
}

.dropotron {
  border-radius: 5px;
  background-color: #252122;
  background-color: rgba(34, 30, 31, 0.98);
  font-style: italic;
  min-width: 13em;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 1.25em 1.8em 1.25em 1.5em;
  text-align: left;
  margin-top: -3em;
  margin-left: -3.1em;
  list-style: none;
}

.dropotron a, .dropotron span {
  color: #aaa;
  text-decoration: none;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.dropotron li {
  padding: 0.25em 0 0.25em 0;
}

.dropotron li:hover > a, .dropotron li:hover > span {
  color: #fff;
}

.dropotron.level-0 {
  margin-top: 2em;

  & li.active > a {
    color: #d52349;
  }

  & li a {
    & .more {
      color: #fff;
      font-weight: bold;
      position: absolute;
      margin-top: 1px;
      right: 15px;
    }
  }
}

.dropotron.level-1 {
  min-width: 11em;
}

.dropotron.level-0:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -10px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px #d52349;
}

.dropotron.level-1:before {
  content: "";
    display: block;
    position: absolute;
    left: 0;
    margin-left: -20px;
    top: 25px;
    border-left: solid 10px transparent;
    border-right: solid 10px #d52349;
    border-bottom: solid 10px transparent;
    border-top: solid 10px transparent;
}

.dropdown ul {
  position: absolute;
  z-index: 999;

  &.level-1 {
    left: 142%;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}