#main {
  padding-top: 3em;
}

.row {
  margin-bottom: 1.5em;
}

form {
  margin-bottom: 2.5em;

  & h3 {
    margin-bottom: .75em;
    position: relative;

    &::after {
      content: "";
      background-color: var(--active-color);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 3px;
    }

    & span {
      opacity: .6;
      font-size: initial;
      position: relative;
      top: -1.5px;
    }

    & i {
      color: green;
      position: relative;
      left: 1em;
      font-size: 1em;
    }
  }

  & select {
    & option {
      color: rgb(58, 58, 58) !important;
    }
  }
}

.form-control {
  margin-bottom: 1.5em;

  & input, select {
    transition: 100ms border ease-in-out;

    &[disabled] {
      opacity: .3;
      pointer-events: none;
    }
  }

  &:hover {
    input:not([disabled]), select:not([disabled]) {
      cursor: pointer;
      border-color: var(--active-color);
    }
  }
}

button[disabled] {
  pointer-events: none;
  filter: grayscale(2);
  opacity: .7;
}

footer {
  & button {
    margin-right: 2em;

    &.reset {
      filter: grayscale(1.5);
    }
  }
}

hr {
  margin: 2.5em 0;
}

.stats {
  margin-bottom: 2em;
}

.try {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 1em;
  padding: .6rem 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 36%;
  font-size: 1.4em;
  width: 100%;
  position: relative;

  & .badge {
    position: absolute;
    right: 1em;
    top: 12px;
    opacity: .7;
  }
}

.red {
  color: red;
}

@media (max-width: 980px) {
  .try {
    font-size: initial;
  }
}

img.material-image {
  position: relative;
  margin-right: 5px;
  top: 3.5px;
  left: -1.5px;
}

.range {
  display: flex;
  gap: 1em;
  color: darkslategray
}

.try-materials {
  display: flex;
  gap: 1em;
  font-size: initial;
}

.claim {
  margin-top: 2em;
  margin-bottom: 0;
}