#main {
  padding-top: 3em;
}

form {
  margin-bottom: 2.5em;
}

.form-control {
  margin-bottom: 1.5em;

  & input {
    transition: 100ms border ease-in-out;
  }

  &:hover {
    input, select {
      cursor: pointer;
      border-color: var(--active-color);
    }
  }
}

select {
  background: url("../../../../../assets/images/arrow-down.png") no-repeat right;
}

button[disabled] {
  pointer-events: none;
  filter: grayscale(2);
}