<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-8 col-12-medium">
        <section>
          <header>
            <h2>Updates</h2>
          </header>
          <ul class="dates">
            @for(update of updates$ | async; track update.url) {
              <li>
                <span class="date" [innerHTML]="getDateToString(update.date)"></span>
                <h3><a href="#">{{update.title}}</a></h3>
                <p>{{update.body}}</p>
              </li>
            }
          </ul>
        </section>
      </div>
      <div class="col-4 col-12-medium">
        <section>
          <header>
            <h2 class="col-small">What's this all about?</h2>
          </header>
          <a href="#" class="image featured"><img src="assets/images/OIP.jpg" alt="" /></a>
          <p>
            Welcome to <strong>DNO-DB</strong>, a fan made website about <a href="https://dnorigins.com/" target="_blank">Dragon Nest Origins</a>. 
            Completely free, no registration required. We collect game data to create <strong>tools</strong> and <strong>guides</strong> to help other players.
            Remember to join <a href="https://discord.com/invite/bmRdXRh" target="_blank">Discord</a> for more information.
          </p>
          <footer>
            <ul class="actions">
              <li><a href="#" class="button">Find out more</a></li>
            </ul>
          </footer>
        </section>
      </div>
    </div>
  </div>
</section>