<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-8 col-12-medium">
        <!-- Content -->
        <article class="box post">
          <header>
            <h2>About Us</h2>
            <p>Dragon Nest Origins Database (DNO-DB)</p>
          </header>
          <p>
            Welcome to the Dragon Nest Origins Database (DNO-DB), your premier resource and companion guide for the
            Dragon
            Nest Origins private server. As fans and dedicated players of the game, we understand the challenges faced
            when official support and data are unavailable. That's where DNO-DB steps in. Our mission is to empower the
            Dragon Nest community with up-to-date, accurate, and comprehensive game data and tools, enhancing your
            gaming
            experience.
          </p>
          <h3>Our Purpose</h3>
          <p>
            Dragon Nest Origins is a private server version of the popular MMORPG, Dragon Nest. Since private servers
            are
            not supported officially, they often have customized features and mechanics that differ from the original
            game. DNO-DB was created to address the lack of readily available information and to support the player
            community by providing a reliable and informative platform tailored specifically for Dragon Nest Origins.
          </p>
          <h3>What We Offer</h3>
          <p>
            At Dragon Nest Origins Database, we pride ourselves on delivering quality, clarity, and utility. Our
            offerings
            are crafted to help both new players and veterans navigate the unique world of Dragon Nest Origins with ease
            and confidence. Here's what you can find on our platform:
          </p>
          <ol>
            <li>
              <strong>Comprehensive Databases:</strong> Our databases are meticulously curated and regularly updated to
              include every piece
              of data from the game. From detailed item statistics to character and enhancement databases, we provide
              information crucial for mastering the game.
            </li>
            <li>
              <strong>Enhancement Calculators:</strong> Understanding the impact of enhancing your gear can be complex.
              Our enhancement
              calculators take the guesswork out of the equation, allowing you to simulate different enhancement
              scenarios
              and plan your strategy accordingly.
            </li>
            <li>
              <strong>Guides:</strong> Whether they're crafted by our team or contributed by skilled players from the
              community, our guides
              cover a vast range of topics. From beginner tips to advanced strategies, learn how to excel in every
              aspect of
              the game.
            </li>
            <li>
              <strong>Community Contributions:</strong> We believe in the power of community. Players can submit their
              own guides and
              strategies to the DNO-DB, sharing their knowledge and insights with others. This collaborative environment
              helps everyone to grow and succeed in Dragon Nest Origins.
            </li>
          </ol>
          <h3>Interactive Features</h3>
          <p>
            Our website is designed with the user in mind, featuring an intuitive interface that makes navigation a
            breeze. Interactive tools and a responsive design ensure that whether you're on a PC or a mobile device, you
            can access our resources anytime, anywhere.
          </p>
          <h3>Stay Connected</h3>
          <p>
            Join our Discord server to connect with other Dragon Nest Origins players, discuss strategies, share tips,
            and
            stay updated on the latest additions to our database. It's a vibrant community where help and friendly
            advice
            are just a message away.
          </p>
          <h3>Commitment to Accuracy</h3>
          <p>
            We understand the importance of accuracy and reliability in gaming data. Our team works tirelessly to verify
            and update our content, ensuring that the information you receive is precise and trustworthy.
          </p>
          <h3>Join Us</h3>
          <p>
            Explore the Dragon Nest Origins Database today and discover how our resources can transform your gaming
            experience. Whether you're looking to enhance your gear, master a new skill, or simply find out more about
            the
            game, DNO-DB is here to guide you every step of the way.
          </p>
        </article>
      </div>
      <div class="col-4 col-12-medium">
        <!-- Sidebar -->
        <section class="box">
          <a href="https://discord.com/invite/bmRdXRh" class="image featured" target="_blank">
            <img src="assets/images/discord.jpg" alt="Discord" />
          </a>
          <header>
            <h3>DNO Official Discord</h3>
          </header>
          <p>
            We highly recommend to join the <strong>DNO Official Discord</strong> community to check for updates, fixes
            and meet new DN players!
          </p>
          <footer>
            <a href="https://discord.com/invite/bmRdXRh" target="_blank" class="button alt">Get invited!</a>
          </footer>
        </section>
        <section class="box">
          <header>
            <h3>Features</h3>
          </header>
          <p>This are our latest and most loved features by our users. Don't miss them, they are made specially for you!
          </p>
          <ul class="divided">
            <li [routerLink]="'/calculators/enhancement'"><a>Enhancement Calculator</a></li>
            <li [routerLink]="'/database/materials'"><a>Enhancement Material Database</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>