@if(isLoadingResults) {
  <div class="backdrop">
    <span class="loader"></span>
  </div>
}

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Content -->
        <article class="box post">
          <a href="#" class="image featured"><img src="assets/images/pic01.jpg" alt=""></a>
          <header>
            <h2>Left Sidebar</h2>
            <p>Lorem ipsum dolor sit amet feugiat</p>
          </header>

          <form>
            <div class="form-control">
              <input type="text" [(ngModel)]="text" (ngModelChange)="filter()" name="filter" placeholder="Search by Item Name"/>
            </div>
          </form>

          <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" matSort class="example-table">
              <!-- NAME -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="Item Name">Iten Name</th>
                <td mat-cell *matCellDef="let row">{{row["Item Name"]}}</td>
              </ng-container>
              <!-- ENCHANT LEVEL -->
              <ng-container matColumnDef="enchantLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="EnchantLevel">Enchant Level</th>
                <td mat-cell *matCellDef="let row">{{row.EnchantLevel}}</td>
              </ng-container>
        
              <!-- ENCHANT RATIO -->
              <ng-container matColumnDef="enchantRatio">
                <th mat-header-cell *matHeaderCellDef>Enchant Ratio</th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'color': getRatioColor(row.EnchantRatio), 'font-weight': 'bold'}">{{row.EnchantRatio}}%</td>
              </ng-container>
        
              <!-- BREAK -->
              <ng-container matColumnDef="breakRatio">
                <th mat-header-cell *matHeaderCellDef>Break Ratio</th>
                <td mat-cell *matCellDef="let row">{{row.BreakRatio}}%</td>
              </ng-container>

              <!-- MIN DOWN -->
              <ng-container matColumnDef="minDowngrade">
                <th mat-header-cell *matHeaderCellDef>Min. Downgrade</th>
                <td mat-cell *matCellDef="let row">{{row.MinDowngrade}}</td>
              </ng-container>

              <!-- MAX DOWN -->
              <ng-container matColumnDef="maxDowngrade">
                <th mat-header-cell *matHeaderCellDef>Max. Downgrade</th>
                <td mat-cell *matCellDef="let row">{{row.MaxDowngrade}}</td>
              </ng-container>

              <!-- GOLD -->
              <ng-container matColumnDef="gold">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="Gold">Gold</th>
                <td mat-cell *matCellDef="let row">{{row.Gold}} <img src="assets/images/materials/Gold.png"/></td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr class="mat-row no-data" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter <strong>"{{text}}"</strong></td>
              </tr>
            </table>
          </div>
        
          <mat-paginator [length]="resultsLength" [pageSize]="500" showFirstLastButtons></mat-paginator>
        </article>
      </div>
    </div>
  </div>
</section>