#main {
  padding-top: 3em;
}

form {
  margin-bottom: 2.5em;
}

.form-control {
  margin-bottom: 1.5em;
}

select {
  background: url("../../../assets/images/arrow-down.png") no-repeat right;
}

button[disabled] {
  pointer-events: none;
  filter: grayscale(2);
}