<div id="header">
  <div class="toggle-theme" (click)="toggleTheme()">
    <!-- THEME -->
    @if(mode === 'dark') {
        <i class="far fa-lightbulb" aria-label="light" aria-hidden="false"></i>
    } @else {
        <i class="far fa-moon" aria-label="dark" aria-hidden="false"></i>
    }
  </div>
  <h1>DN Origins Database</h1>
  <nav id="nav">
    <ul>
      @for(item of items; track item.label) {
      <li [routerLinkActive]="'active'">
        <a [routerLink]="item.key">{{item.label}}</a>
      </li>
      }
      <li class="dropdown" #trigger="matMenuTrigger" [matMenuTriggerFor]="database">Menu</li>
      <mat-menu #database="matMenu" [class]="'dropdown-menu'">
        <li>
          <button mat-menu-item>Vertebrates</button>
        </li>
        <li>
          <button mat-menu-item>Invertebrates</button>
        </li>
        <li>
          <button mat-menu-item [matMenuTriggerFor]="calculators">Calculators</button>
        </li>
      </mat-menu>
      <mat-menu #calculators="matMenu" [class]="'dropdown-submenu'">
        <button mat-menu-item [routerLink]="'/calculators/enhancement'">Enhancement</button>
        <button mat-menu-item>Amphibians</button>
        <button mat-menu-item>Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>
    </ul>
  </nav>
</div>

<div id="titleBar">
  <span class="toggle"
    (click)="openDrawer()"></span>
</div>

<q-drawer menuid="main" #drawer>
  <div id="navPanel">
    <nav>
      <a class="link depth-0" href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-0"></span>Home
      </a>
      <a class="link depth-0" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-0"></span>Dropdown
      </a>
      <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-1"></span>Lorem ipsum dolor
      </a>
      <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-1"></span>Magna phasellus
      </a>
      <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-1"></span>Etiam dolore nisl
      </a>
      <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-1"></span>Phasellus consequat
      </a>
      <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-2"></span>Magna phasellus
      </a>
      <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-2"></span>Etiam dolore nisl
      </a>
      <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-2"></span>Veroeros feugiat
      </a>
      <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-2"></span>Nisl sed aliquam
      </a>
      <a class="link depth-2" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-2"></span>Dolore adipiscing
      </a>
      <a class="link depth-1" href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-1"></span>Veroeros feugiat
      </a>
      <a class="link depth-0" href="left-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-0"></span>Left Sidebar
      </a>
      <a class="link depth-0" href="right-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-0"></span>Right Sidebar
      </a>
      <a class="link depth-0" href="no-sidebar.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <span class="indent-0"></span>No Sidebar
      </a>
    </nav>
  </div>
</q-drawer>