<div id="header">
  <div class="toggle-theme" (click)="toggleTheme()">
    <!-- THEME -->
    @if(mode === 'dark') {
        <i class="far fa-lightbulb" aria-label="light" aria-hidden="false"></i>
    } @else {
        <i class="far fa-moon" aria-label="dark" aria-hidden="false"></i>
    }
  </div>
  <h1>DN Origins Database</h1>
  <nav id="nav">
    <ul>
      @for(item of items; track item.label) {
      <li [routerLinkActive]="'active'">
        <a [routerLink]="item.key">{{item.label}}</a>
      </li>
      }
      <li class="dropdown" #trigger="matMenuTrigger" [matMenuTriggerFor]="database">Menu</li>
      <mat-menu #database="matMenu" [class]="'dropdown-menu'">
        <li>
          <button mat-menu-item [matMenuTriggerFor]="calculators">Calculators</button>
        </li>
        <li>
          <button mat-menu-item [matMenuTriggerFor]="builds">Builds</button>
        </li>
      </mat-menu>
      <mat-menu #calculators="matMenu" [class]="'dropdown-submenu'">
        <button mat-menu-item [routerLink]="'/calculators/enhancement'">Enhancement</button>
      </mat-menu>
      <mat-menu #builds="matMenu" [class]="'dropdown-submenu'">
        <button mat-menu-item [routerLink]="'/builds/skills'">Skills</button>
      </mat-menu>
    </ul>
  </nav>
</div>

<div id="titleBar">
  <span class="toggle"
    (click)="openDrawer()"></span>
</div>

<q-drawer menuid="main" #drawer>
  <div id="navPanel">
    <nav>
      @for(item of items; track item.label) {
        <a class="link depth-0" (click)="navigate(item.key)">
          <span class="indent-0"></span>{{item.label}}
        </a>
      }
      
      <a class="link depth-0">
        <span class="indent-0"></span>- Calculators
      </a>
      <a class="link depth-1" (click)="navigate('/calculators/enhancement')">
        <span class="indent-1"></span>Enhancement
      </a>
    </nav>
  </div>
</q-drawer>